@import "tailwindcss";

@theme {
  --color-primary-white: #ddd;
  --color-primary-black: #222;
  --color-second-black: #2B2B2B;
}

* {
  box-sizing: border-box;  
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-michroma: 'Michroma', sans-serif;
}


body {
  font-family: var(--font-michroma);
}
